.color_square {
  /*width: 80%;*/
  /*height: 80%;*/
  /*padding-top: 80%;*/
  position: relative;
  min-width: 13vw;
  min-height: 13vw;
  max-width: 20vw;
  max-height: 20vw;
  border-radius: 10px;
  border-style: none;
}

.colorpicker-bs-popover {
  background: #1a252f;
}

.arrow:after {
  border-bottom-color: #1a252f !important;
  border-top-color: #1a252f !important;
}

