.name {
  color: #18bc9c;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
  min-width: 15vw;
}

#pop-up_window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 50px;
}

#window_message {
  width: 90%;
  height: 90%;
  font-family: Ubuntu, sans-serif;
  transform: perspective(0px);
  border-radius: 32px;
  background: #1a252f;
  border-style: none;
}

.projects-horizontal h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .projects-horizontal h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.projects-horizontal .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 10px;
}

.projects-horizontal .projects {
  padding-bottom: 40px;
}

.projects-horizontal .item {
  padding-top: 60px;
  min-height: 160px;
  animation: none;
}

.projects-horizontal .item:hover {
  animation: div-pulse 1s;
}

@media (max-width:767px) {
  .projects-horizontal .item {
    padding-top: 40px;
    min-height: 160px;
  }
}

.projects-horizontal .item .name {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
}

@media (max-width:991px) {
  .projects-horizontal .item .name {
    margin-top: 22px;
  }
}

.projects-horizontal .item .description {
  font-size: 15px;
  margin-bottom: 0;
  color: white;
  font-family: 'Open Sans';
}

.blured {
  overflow: hidden;
  animation: blur 1s;
  animation-fill-mode: forwards;
}

.unblured {
  animation: unblur 1s;
  animation-fill-mode: forwards;
}

.appeared {
  animation: appear 1s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.disappeared {
  animation: appear 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

@keyframes blur {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(100px);
  }
}

@keyframes unblur {
  from {
    filter: blur(100px);
  }
  to {
    filter: blur(0px);
  }
}

