{% extends "layout.html" %}
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  {% block head %}
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title>
   RidrameCraft
  </title>
  <meta content="Projects page" name="description"/>
  <meta content="website" property="og:type"/>
  <link href="../assets/img/website_icon.png?h=15b8e40d28339fb582ea1179e6313669" rel="icon" sizes="384x384" type="image/png"/>
  <link href="../assets/img/website_icon.png?h=15b8e40d28339fb582ea1179e6313669" rel="icon" sizes="384x384" type="image/png"/>
  <link href="../assets/bootstrap/css/bootstrap.min.css?h=7830e0386cbecb1e3f70016bdd25b339" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=cyrillic&amp;display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic&amp;display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="../assets/css/styles.min.css?h=63b933744a29a7c31a01aa296e3e2fff" rel="stylesheet"/>
  <link href="../assets/css/contacts.min.css?h=db9ec279b5530ba1486208c0958b57ee" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet"/>
  <script src="{{ url_for('babel_catalog') }}">
  </script>
  {% endblock head %}
 </head>
 <body id="page-top">
  {% block content %}
  <div class="me_contacts parallax_top" data-bss-parallax-bg="true" style="background-image: url(../assets/img/background_contacts.jpg?h=ab02f04d0eff47e4cd03fd63a9bb4d1b)">
   <header class="masthead text-white text-center top-page">
    <div class="container">
     <h1>
      {{ _("Shi Warai") }}
     </h1>
     <hr class="flex-shrink-0 top_hr" style="color: rgb(255,255,255);font-size: 15px;height: 8px;background: #ffffff;width: 70%;"/>
     <h2 class="roboto_slab" style="font-family: 'Noto Sans', sans-serif;">
      {{ _("Fullstack разработчик - Бакалавр программной инженерии") }}
     </h2>
    </div>
   </header>
  </div>
  <section class="bg-primary text-white mb-0" id="about" style="padding-top: 48px;min-width: 50%;padding-bottom: 48px;">
   <div class="container">
    <h1 class="text-uppercase text-center heading">
     {{ _("Обо мне") }}
    </h1>
    <div class="text-center mt-4">
     <div class="d-inline-flex flex-column justify-content-around align-items-center flex-sm-column flex-md-column flex-lg-row flex-xl-row" style="margin-bottom: 15px;">
      <img class="img-fluid shadow-lg order-1 image" src="../assets/img/About/green_house.jpg?h=ab99a49e4777752157d3b7d7f9a11005"/>
      <p class="text-left order-2 main_text" style="margin: 15px;">
       {{ _("Я занимаюсь программированием с 8-го класса (тогда я сделал свой первый проект полного стека). За это время я успел поработать на C++, Python, C#, Lua. По окончании учебы я пристрастился к робототехнике, занятия по которой проходили в моей школе с 10-го класса в форме кружка. После окончания школы я поступил в РТУ МИРЭА в Москве, где в настоящее время учусь и живу. Вы можете узнать больше о моих проектах на сайте или на Github, но многое остаётся неопубликованным.") }}
      </p>
     </div>
     <div class="d-inline-flex flex-column justify-content-around align-items-center flex-sm-column flex-md-column flex-lg-row-reverse flex-xl-row-reverse" style="margin-bottom: 15px;">
      <img class="img-fluid shadow-lg order-1 image" src="../assets/img/About/its_like_me.jpg?h=c54bdeefc44061d5cbd9c6fa3d3f0b6f"/>
      <p class="text-right order-2 main_text" style="margin: 15px;">
       {{ _("Основным занятием на текущий момент является разработка ПО для прикладных целей, решение задач по курсу обучения в ВУЗе, а также прохождение факультативных курсов. Из актуальных: курсы от VK Company по направлению «‎Автоматизированное тестирование» и «‎Базовое администрирование Linux», а также 2 семестровый курс IoT от Академии Самсунг. Весь прогресс обучения я также пытаюсь фиксировать с помощью сторонних проектов или с помощью репозитория на GitHub.") }}
      </p>
     </div>
     <div class="d-inline-flex flex-column justify-content-around align-items-center flex-sm-column flex-md-column flex-lg-row flex-xl-row" style="margin-bottom: 15px;">
      <img class="img-fluid shadow-lg order-1 image" src="../assets/img/About/robot.jpg?h=f1e3f585f9b9f958ddcb76e76670cbb3"/>
      <p class="text-left order-2 main_text" style="margin: 15px;">
       {{ _("И всё-таки главной моей мечтой является реализация самого себя в сфере робототехники. Ещё с детства меня привлекало черчение, чтение книг по механике, сложное устройство повседневных вещей. В школе я прошёл курс по робототехнике на базе городского ПТУ, а позже занялся своими проектами, в которых я уже применил школьные наборы Lego Mindstorm. Результаты можно также увидеть во вкладе ") }}
       <a href="projects#projects-list">
        {{ _("Проекты") }}
       </a>
       {{ _(".") }}
      </p>
     </div>
     <p class="text-center main_text" style="margin-top: 32px;">
      {{ _("Помимо социальных сетей, вы можете связаться со мной по электронной почте:") }}
     </p>
     <a class="btn btn-outline-light btn-xl" href="mailto:mail@zhuravliov.pav@yandex.ru?subject=Вопрос по поводу сайта" role="button" style="padding-top: 16px;padding-right: 25px;padding-left: 25px;font-family: 'Noto Sans', sans-serif;">
      <svg class="mr-2" fill="none" height="1em" style="margin: 0px 0px 0px 0px;font-size: 30px;margin-top: -5px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
       <path clip-rule="evenodd" d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z" fill="currentColor" fill-rule="evenodd">
       </path>
      </svg>
      <span style="font-family: Lato, sans-serif;">
       {{ _("E-mail") }}
      </span>
     </a>
    </div>
   </div>
  </section>
  {% endblock content %}
  {% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js">
  </script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
  </script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js">
  </script>
  <script src="../assets/js/script.min.js?h=3191e779dcfb9d85eb00bdc357182dd9">
  </script>
  {% endblock scripts %}
 </body>
</html>