<!DOCTYPE html>
<html style="background: #1a252f;">
 <head>
  <meta charset="utf-8"/>
  {% block head %}
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title>
   RidrameCraft
  </title>
  <meta content="Projects page" name="description"/>
  <meta content="website" property="og:type"/>
  <link href="../assets/img/website_icon.png?h=15b8e40d28339fb582ea1179e6313669" rel="icon" sizes="384x384" type="image/png"/>
  <link href="../assets/img/website_icon.png?h=15b8e40d28339fb582ea1179e6313669" rel="icon" sizes="384x384" type="image/png"/>
  <link href="../assets/bootstrap/css/bootstrap.min.css?h=15cdee72af0b388465413934bf186e09" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=cyrillic&amp;display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic&amp;display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="../assets/css/styles.min.css?h=d21c6d52ae1ce6b32b8253dd04e6ab0c" rel="stylesheet"/>
  <script src="{{ url_for('babel_catalog') }}">
  </script>
  {% endblock head %}
 </head>
 <body id="page-top">
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav" style="border-bottom: 5px solid #18bc9c ;">
   <div class="container">
    <a class="navbar-brand text-white js-scroll-trigger" href="#page-top" style="font-family: Ubuntu, sans-serif;">
     {{websiteName}}
    </a>
    <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right text-uppercase text-white rounded" data-target="#navbarResponsive" data-toggle="collapse" style="background: #2c3e50;border-width: 2px;border-color: var(--light);">
     <i class="fa fa-bars">
     </i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
     <ul class="navbar-nav ml-auto">
      <li class="nav-item mx-0 mx-lg-1">
       <a class="nav-link" href="/home">
        {{ _("Главная") }}
       </a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
       <a class="nav-link" href="/downloads" style="border-color: #18bc9c;">
        {{ _("Загрузки") }}
       </a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
       <a class="nav-link" href="/projects">
        {{ _("Проекты") }}
       </a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
       <a class="nav-link" href="/contacts">
        {{ _("Контакты") }}
       </a>
      </li>
     </ul>
    </div>
   </div>
  </nav>
  <div id="content-div">
   {% block content %} {% endblock %}
  </div>
  <footer class="footer text-center splitter-top">
   <div class="container">
    <div class="row lato">
     <div class="col-md-4 mb-5 mb-lg-0">
      <h4 class="text-uppercase mb-4 layout-header">
       {{ _("Местоположение") }}
      </h4>
      <p class="layout-text">
       {{ _("Москва, Улица Студенческая, 33, строение 3") }}
      </p>
     </div>
     <div class="col-md-4 mb-5 mb-lg-0" style="padding-right: 0px;padding-left: 0px;">
      <h4 class="text-uppercase mb-4 layout-header">
       {{ _("В Интернете") }}
      </h4>
      <ul class="list-inline">
       <li class="list-inline-item" style="width: 20%;">
        <a class="btn btn-light btn-social text-center rounded-circle" href="https://vk.com/shi_warai" role="button">
         <i class="fa fa-vk fa-fw" style="padding-right: 3px;">
         </i>
        </a>
       </li>
       <li class="list-inline-item" style="width: 20%;">
        <a class="btn btn-light btn-social rounded-circle" href="https://t.me/shiwarai" role="button">
         <i class="fa fa-telegram fa-fw">
         </i>
        </a>
       </li>
       <li class="list-inline-item" style="width: 20%;">
        <a class="btn btn-light btn-social text-center rounded-circle" href="https://steamcommunity.com/id/shiwarai/" role="button">
         <i class="fa fa-steam fa-fw">
         </i>
        </a>
       </li>
       <li class="list-inline-item" style="width: 20%;">
        <a class="btn btn-light btn-social text-center rounded-circle" href="https://github.com/ShiWarai" role="button">
         <i class="fa fa-github fa-fw" style="font-size: 23px;padding-top: 6px;padding-right: 6px;">
         </i>
        </a>
       </li>
      </ul>
     </div>
     <div class="col-md-4 mb-5 mb-lg-0">
      <h4 class="text-uppercase mb-4 layout-header">
       {{ _("Автор") }}
      </h4>
      <p class="lead mb-0">
       <span class="layout-text">
        {{ _("Оформлен ShiWarai") }}
       </span>
      </p>
     </div>
     <div class="col">
      <div class="copyright py-4 text-center text-white">
       <div class="container" style="font-family: 'Open Sans', sans-serif;">
        <small class="text-white">
         Copyright © {{hostName}} {{year}}
        </small>
       </div>
      </div>
     </div>
    </div>
   </div>
  </footer>
  {% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js">
  </script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
  </script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
  </script>
  <script src="../assets/js/script.min.js?h=e933d7edfe381153fc3edd9d607d9565">
  </script>
  {% endblock scripts %}
 </body>
</html>