{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="ru">
 <head>
  <meta charset="utf-8"/>
  {% block head %}
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title>
   Color Combinations - RidrameCraft
  </title>
  <meta content="icon.jpg" property="og:image"/>
  <meta content="no-cache" http-equiv="Cache-Control"/>
  <meta content="Color Combinations" name="description"/>
  <meta content="website" property="og:type"/>
  <link href="../assets/img/website_icon.png?h=15b8e40d28339fb582ea1179e6313669" rel="icon" sizes="384x384" type="image/png"/>
  <link href="../assets/img/website_icon.png?h=15b8e40d28339fb582ea1179e6313669" rel="icon" sizes="384x384" type="image/png"/>
  <link href="../assets/bootstrap/css/bootstrap.min.css?h=653f54f6418efb4810cf19577edb2127" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=cyrillic&amp;display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic&amp;display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="../assets/css/styles.min.css?h=63b933744a29a7c31a01aa296e3e2fff" rel="stylesheet"/>
  <link href="../assets/css/bootstrap-colorpicker.min.min.css?h=d28d1ea360e6d32882c5ee521d7ccc6f" rel="stylesheet"/>
  <link href="../assets/css/led_controller.min.css?h=7cbd228fa473d13eb04cf7fbee3564e1" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet"/>
  <!-- varibles for js -->
  <script>
   var prediction_enabled = "{{ prediction_enabled }}";
  </script>
  <script src="{{ url_for('babel_catalog') }}">
  </script>
  {% endblock head %}
 </head>
 <body>
  {% block content %}
  <div class="d-flex flex-column justify-content-center align-items-center" style="height: auto;background: #2c3e50;padding-top: 100px;padding-bottom: 32px;min-height: 90vh;">
   <h1 class="text-break text-center heading" style="margin: 24px 12px;">
    {{ _("Смотри!") }}
    <br/>
    {{ _("Ты можешь контролировать светодиод!") }}
   </h1>
   <input class="mx-auto color_square color_picker" id="color-input" name="color" style="background: {{default_color}}; color: {{default_color}}; height:0;width:10%;padding-bottom:10%;" type="button" value="{{default_color}}"/>
  </div>
  {% endblock content %}
  {% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js">
  </script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
  </script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js">
  </script>
  <script src="../assets/js/script.min.js?h=c77ea9a98d927b6826212913410f3ab5">
  </script>
  <script src="../assets/js/bootstrap-colorpicker.min.min.js?h=d54c4f99df5ae21841bf1a0e6e50c54a">
  </script>
  <script src="../assets/js/led_controller.min.js?h=b4d03e2175ee2a3a57a1e4f822070263">
  </script>
  {% endblock scripts %}
 </body>
</html>