<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  {% block head %}
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title>
   RidrameCraft
  </title>
  <meta content="Projects page" name="description"/>
  <meta content="website" property="og:type"/>
  <link href="../assets/img/website_icon.png?h=15b8e40d28339fb582ea1179e6313669" rel="icon" sizes="384x384" type="image/png"/>
  <link href="../assets/img/website_icon.png?h=15b8e40d28339fb582ea1179e6313669" rel="icon" sizes="384x384" type="image/png"/>
  <link href="../assets/bootstrap/css/bootstrap.min.css?h=61392c663d77af90112ebba467ab605f" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=cyrillic&amp;display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic&amp;display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="../assets/css/styles.min.css?h=63b933744a29a7c31a01aa296e3e2fff" rel="stylesheet"/>
  <link href="../assets/css/projects.min.css?h=1dbc7d0a0e1a730c457d52ce19104731" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet"/>
  <script src="{{ url_for('babel_catalog') }}">
  </script>
  {% endblock head %}
 </head>
 <body id="pop-up_window" style="background: rgb(44,62,80);border-radius: 0px;padding: 0px;">
  <div class="d-flex flex-column" id="window_message" style="box-shadow: 4px 7px 8px #1a252f;border: 5px solid #18bc9c;max-height: 100%;">
   <div class="d-inline-flex flex-row justify-content-between align-items-center" id="pop-up_header">
    <h1 class="text-break text-left d-flex main_text heading">
     {{project_name}}
    </h1>
    <a class="d-flex flex-shrink-0 justify-content-center align-items-center align-self-start" onclick="closeProject();" style="background: #18bc9c;border-radius: 100%;border-style: none;color: var(--light);text-decoration: none;cursor: pointer;font-size: 24px;margin-top: 10px;margin-right: 10px;width: 40px;height: 40px;">
     {{ _("X") }}
    </a>
   </div>
   <div class="d-flex flex-grow-1" id="pop-up_body">
    <div class="col d-flex flex-column justify-content-between project-column" id="column-1">
     <h1 class="text-uppercase heading">
      {{ _("Галерея") }}
     </h1>
     <div class="d-flex flex-grow-1 align-items-center">
      <div id="gallery-wrapper">
       <div class="carousel slide" data-ride="carousel" id="gallery">
        <div class="carousel-inner">
         {% for i in range(project_gallery|length) %}
         <div class="carousel-item {% if i==0 %}active{% endif %}">
          <img class="w-100 d-block" src="{{project_gallery[i]}}"/>
         </div>
         {% endfor %}
        </div>
        <div>
         <a class="carousel-control-prev" data-slide="prev" href="#gallery" role="button">
          <span class="carousel-control-prev-icon">
          </span>
          <span class="sr-only">
           {{ _("Previous") }}
          </span>
         </a>
         <a class="carousel-control-next" data-slide="next" href="#gallery" role="button">
          <span class="carousel-control-next-icon">
          </span>
          <span class="sr-only">
           {{ _("Next") }}
          </span>
         </a>
        </div>
        <ol class="carousel-indicators">
         {% for i in range(project_gallery|length) %}
         <li class="{% if i==0 %}active{% endif %}" data-slide-to="{{i}}" data-target="#gallery">
         </li>
         {% endfor %}
        </ol>
       </div>
      </div>
     </div>
    </div>
    <div class="col d-flex flex-column justify-content-between d-flex flex-column align-items-center project-column" id="column-2">
     <h1 class="text-uppercase order-1 heading">
      {{ _("Описание") }}
     </h1>
     <p class="text-break order-2 main_text description">
      {{project_description}}
     </p>
     <div class="d-flex flex-row justify-content-between align-items-center order-3" style="width: 100%;">
      {% if project_source_link %}
      <a class="text-nowrap d-flex align-items-center btn btn-full btn-primary" href="{{project_source_link}}" rel="noopener noreferrer" target="_blank">
       <strong>
        {{ _("Загрузка исходников") }}
       </strong>
      </a>
      <a class="btn btn-light btn-social btn-img text-center rounded-circle" href="{{project_source_link}}" rel="noopener noreferrer" role="button" style="background: #18bc9c;border-color: #18bc9c;" target="_blank">
       <i class="fa fa-arrow-circle-o-down fa-fw icon-btn" style="font-size: 23px;padding-top: 6px;padding-right: 6px;">
       </i>
      </a>
      {% endif %}{% if project_is_app %}
      <a class="btn btn-light btn-social text-center rounded-circle" href="{{project_link}}" role="button" style="background: #18bc9c;border-color: #18bc9c;">
       <i class="fa fa-laptop fa-fw icon-btn" style="font-size: 23px;padding-top: 6px;padding-right: 6px;">
       </i>
      </a>
      {% endif %}{% if project_github_link %}
      <a class="btn btn-light btn-social text-center rounded-circle" href="{{project_github_link}}" rel="noopener noreferrer" role="button" style="background: #18bc9c;border-color: #18bc9c;" target="_blank">
       <i class="fa fa-github fa-fw icon-btn" style="font-size: 23px;padding-top: 6px;padding-right: 6px;">
       </i>
      </a>
      {% endif %}
     </div>
    </div>
   </div>
  </div>
  {% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js">
  </script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
  </script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js">
  </script>
  <script src="../assets/js/script.min.js?h=3191e779dcfb9d85eb00bdc357182dd9">
  </script>
  <script src="../assets/js/projects.min.js?h=1be7afd6bab033897a92bc3c286a00f5">
  </script>
  {% endblock scripts %}
 </body>
</html>